    <ul *ngFor="let e of etudiant">
        <li > {{etudiant.prenom}}<strong>{{etudiant.nom}}</strong></li>
        <li>{{etudiant.date|date :'dd/MM/yyyy'}}</li>
        <li [ngClass]="etudiant.moyenne  >=16 ?'c1':'c2'"> 
            {{etudiant.moyenne }}
            <div [ngSwitch]="etudiant.moyenne">
                <p *ngSwitchCase="1">Redouble</p>
                <p *ngSwitchCase="2">Redouble</p>
                <p *ngSwitchCase="3">Redouble</p>
                <p *ngSwitchCase="4">Redouble</p>
                <p *ngSwitchCase="5">Redouble</p>
                <p *ngSwitchCase="6">Redouble</p>
                <p *ngSwitchCase="7">Redouble</p>
                <p *ngSwitchCase="8">Redouble</p>
                <p *ngSwitchCase="9">Redouble</p>
                <p *ngSwitchCase="10">Passable</p>
                <p *ngSwitchCase="11">Passable</p>
                <p *ngSwitchCase="12">Assez Bien</p>
                <p *ngSwitchCase="13">Assez Bien</p>
                <p *ngSwitchCase="14">Assez Bien</p>
                <p *ngSwitchCase="15"> Bien</p>
                <p *ngSwitchCase="16"> Bien</p>
                <p *ngSwitchCase="16">Trés Bien</p>
                <p *ngSwitchCase="17">Trés Bien</p>
                <p *ngSwitchCase="18">Trés Bien</p>
                <p *ngSwitchCase="19">Trés Bien</p>
                <p *ngSwitchCase="20">Trés Bien</p>
            </div>  </li>
            <li>{{etudiant.ville }}</li>
    </ul>

